{% extends "base_books.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block content %}
    <h2>Author List</h2>

    <table class="table">
        <tbody>
            {% for author in object_list %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>
                    <a href="{% url 'books:author_detail' author.id %}">{{ author.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}