{% extends "base_books.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block content %}
    <h2>Book List</h2>
<table class="table">
        <tbody>
                {% for book in object_list %}
            <tr>
                <td>
                    <a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}